@model ProjectManager.Models.DashboardViewModels.PersonalDashboard
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-3">
        <div class="panel panel-default">
            <div class="panel-heading">@Html.DisplayNameFor(model => model.AssignedForMe)</div>
            <div class="panel-body">
                @{
                    if (Model.AssignedForMe != null)
                    {
                        foreach (var task in Model.AssignedForMe)
                        {
                            <p>@task.Name</p>
                        }
                    }
                }
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="panel panel-default">
            <div class="panel-heading">@Html.DisplayNameFor(model => model.ComplitedTasks)</div>
            <div class="panel-body">
                @{
                    if (Model.ComplitedTasks != null)
                    {
                        foreach (var task in Model.ComplitedTasks)
                        {
                            <p>@task.Name</p>
                        }
                    }
                }
            </div>
        </div>
    </div>
    <div class="col-lg-3"></div>
</div>
<div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-3"></div>
    <div class="col-lg-3"></div>
</div>


