@model Question

<div class="row">
    <div align="center">
        <p>@Model.Text</p>
    </div>
</div>
<div class="row">
    <div align="center">
       @foreach (var ans in @Model.Answers)
       {
           
       }
    </div>
</div>